.navbar{
    border-radius: 6px;
}

.fa-facebook-f{
    color: #3b5998;
    font-size: larger;
    
}
 .fa-facebook-f:hover{
    color: #5280e2;
}
.fa-twitter{
    color: #00acee;
    font-size: larger;
    
}
 .fa-twitter:hover{
    color: #0592ca;
    
}
.fa-instagram{
    color: #d62976;
    font-size: larger;
}
 .fa-instagram:hover {
    color: #962fbf;
}
.fa-linkedin-in{
    font-size: larger;
    color:   #0072b1;
    
}
.fa-linkedin-in:hover{
    color:#05466a ;
}

.fa-youtube{
    font-size: larger;
    color: #FF0000;

}
.fa-youtube:hover{
    color:#d11919;
}
